n8n_whatsapp_email_automation_v2.json
{
    "name": "Viswam WhatsApp & Email Automation (Direct Lookup)",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "value": 5
                        }
                    ]
                }
            },
            "id": "e8e8e8e8-e8e8-e8e8-e8e8-e8e8e8e8e8e8",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                220,
                240
            ]
        },
        {
            "parameters": {
                "url": "https://viswam-reports-automation.netlify.app/api/reports/automation/queue",
                "options": {}
            },
            "id": "11111111-1111-1111-1111-111111111111",
            "name": "Fetch Queue",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                440,
                240
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "={{ $json }}",
                "options": {}
            },
            "id": "22222222-2222-2222-2222-222222222222",
            "name": "Split Reports",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 1,
            "position": [
                660,
                240
            ]
        },
        {
            "parameters": {
                "operation": "lookup",
                "spreadsheetId": "YOUR_SPREADSHEET_ID",
                "range": "A:E",
                "lookupColumn": "School Name",
                "lookupValue": "={{ $node[\"Split Reports\"].json[\"schoolName\"] }}",
                "options": {}
            },
            "id": "33333333-3333-3333-3333-333333333333",
            "name": "Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 3,
            "position": [
                880,
                240
            ]
        },
        {
            "parameters": {
                "operation": "htmlToPdf",
                "url": "=https://viswam-reports-automation.netlify.app/api/reports/{{ $node[\"Split Reports\"].json[\"id\"] }}/render",
                "options": {
                    "fileName": "report_card.pdf",
                    "marginTop": 0,
                    "marginRight": 0,
                    "marginBottom": 0,
                    "marginLeft": 0,
                    "landscape": false,
                    "printBackground": true
                }
            },
            "id": "44444444-4444-4444-4444-444444444444",
            "name": "Generate PDF",
            "type": "n8n-nodes-base.api2pdf",
            "typeVersion": 1,
            "position": [
                1100,
                240
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "subject": "=Report Card: {{ $node[\"Split Reports\"].json[\"studentName\"] }}",
                "message": "<h1>Student Report Card</h1><p>Dear Principal,</p><p>Please find attached the report card for <b>{{ $node[\"Split Reports\"].json[\"studentName\"] }}</b>.</p>",
                "toEmail": "={{ $node[\"Google Sheets\"].json[\"Email\"] }}",
                "appendAttachements": true,
                "attachments": "={{ $binary.data }}"
            },
            "id": "66666666-6666-6666-6666-666666666666",
            "name": "Send Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                1540,
                140
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.whatsapp.com/send",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "phone",
                            "value": "={{ $node[\"Google Sheets\"].json[\"WhatsApp\"] }}"
                        },
                        {
                            "name": "message",
                            "value": "=Hi, here is the report card for {{ $node[\"Split Reports\"].json[\"studentName\"] }}. You can download the PDF and View it by clicking this link: https://viswam-reports-automation.netlify.app/api/reports/{{ $node[\"Split Reports\"].json[\"id\"] }}/render"
                        }
                    ]
                },
                "options": {}
            },
            "id": "77777777-7777-7777-7777-777777777777",
            "name": "Send WhatsApp",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1540,
                340
            ]
        },
        {
            "parameters": {
                "operation": "aggregateItems",
                "fieldsToAggregate": {
                    "fieldToAggregate": [
                        {
                            "fieldToAggregate": "id"
                        }
                    ]
                },
                "options": {}
            },
            "id": "88888888-8888-8888-8888-888888888888",
            "name": "Aggregate IDs",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 1,
            "position": [
                1760,
                240
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://viswam-reports-automation.netlify.app/api/reports/automation/mark-sent",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "ids",
                            "value": "={{ $node[\"Aggregate IDs\"].json[\"ids\"] }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "99999999-9999-9999-9999-999999999999",
            "name": "Mark as Sent",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1980,
                240
            ]
        }
    ],
    "pinData": {},
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Fetch Queue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Queue": {
            "main": [
                [
                    {
                        "node": "Split Reports",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Reports": {
            "main": [
                [
                    {
                        "node": "Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Sheets": {
            "main": [
                [
                    {
                        "node": "Generate PDF",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate PDF": {
            "main": [
                [
                    {
                        "node": "Send Email",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Send WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Email": {
            "main": [
                [
                    {
                        "node": "Aggregate IDs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send WhatsApp": {
            "main": [
                [
                    {
                        "node": "Aggregate IDs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate IDs": {
            "main": [
                [
                    {
                        "node": "Mark as Sent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "df7a646c-fbe3-40b4-8ed9-f131a473fb78"
}