n8n_workflow_v4_1.json
{
  "name": "Viswam Report Card Automation (V4.2 - Email Only)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approve-school-report",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300],
      "id": "webhook-id"
    },
    {
      "parameters": {
        "jsCode": "const rawWebhook = $('Webhook').first().json;\nconst webhook = rawWebhook.body || rawWebhook;\n\nconst schoolId = webhook.schoolId || '';\nconst assessmentName = webhook.assessmentName || 'Sodhana 1';\n\nif (!schoolId) {\n  throw new Error(\"Critical Error: 'schoolId' not found in Webhook data.\");\n}\n\nconst encodedAssessment = encodeURIComponent(assessmentName);\nconst pdfUrl = `https://viswam-report-card.vercel.app/api/reports/school/${schoolId}/pdf?assessmentName=${encodedAssessment}`;\nconst jsonPdfUrl = `${pdfUrl}&json=true`;\n\nreturn [{\n  json: {\n    schoolId,\n    assessmentName,\n    pdfUrl,\n    jsonPdfUrl,\n    schoolName: webhook.schoolName || 'Unknown School',\n    principalEmail: webhook.principalEmail || '',\n    whatsappNo: webhook.whatsappNo || '',\n    studentCount: webhook.studentCount || 0,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Consolidate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "id": "consolidate-data-id"
    },
    {
      "parameters": {
        "url": "={{ $json.pdfUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdfData"
            }
          },
          "timeout": 95000,
          "retryOnFail": true,
          "maxRetries": 3,
          "waitBetweenRetries": 5000
        }
      },
      "name": "Download PDF (Binary)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300],
      "id": "download-pdf-id"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Consolidate Data').first().json.principalEmail }}",
        "subject": "=PSA Assessment Report – {{ $('Consolidate Data').first().json.schoolName }}",
        "emailType": "html",
        "message": "=Dear Sir/Madam,<br><br>\nThank you for your support in conducting the PSA assessment for Grade 7 students. We are pleased to share your school's PSA assessment report, which highlights students' current learning levels and readiness for competency-based assessments.<br><br>\nThis initiative is sponsored by <strong>Federation for Democratic Reforms (FDR)</strong>, with implementation support from <strong>Viswam Edutech</strong>, and assessment partnership with <strong>North South Foundation</strong>.<br><br>\nWe hope the report will support your academic review and planning.<br><br>\nWith Regards,<br>\n<strong>Federation for Democratic Reforms</strong>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "pdfData"
              }
            ]
          }
        }
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [950, 300],
      "id": "send-email-id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://viswam-report-card.vercel.app/api/reports/school/{{ $('Consolidate Data').first().json.schoolId }}/mark-notified?assessmentName={{ $('Consolidate Data').first().json.assessmentName }}",
        "options": {}
      },
      "name": "Mark Notified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300],
      "id": "mark-notified-id",
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Consolidate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Data": {
      "main": [
        [
          {
            "node": "Download PDF (Binary)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF (Binary)": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Mark Notified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
