n8n_full_automation_template.json
{
    "name": "Viswam Enhanced Automation",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "value": 5
                        }
                    ]
                }
            },
            "name": "Every 5 Minutes",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                0,
                300
            ],
            "id": "schedule-1"
        },
        {
            "parameters": {
                "url": "https://viswam-reports-automation.netlify.app/api/reports/automation/queue",
                "options": {}
            },
            "name": "Fetch Queue",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                200,
                300
            ],
            "id": "fetch-queue-1"
        },
        {
            "parameters": {
                "fieldToSplitOut": "={{ $json }}",
                "options": {}
            },
            "name": "Split Reports",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 1,
            "position": [
                400,
                300
            ],
            "id": "split-1"
        },
        {
            "parameters": {
                "command": "=${ $env[\"CHROME_PATH\"] || \"/usr/bin/chromium-browser\" } --headless --disable-gpu --print-to-pdf=\"/tmp/report_{{ $json[\"id\"] }}.pdf\" {{ $env[\"APP_URL\"] || \"http://localhost:5000\" }}/api/reports/{{ $json[\"id\"] }}/render"
            },
            "name": "Generate PDF (Chrome)",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                600,
                300
            ],
            "id": "chrome-1"
        },
        {
            "parameters": {
                "resource": "message",
                "operation": "send",
                "content": "<h1>Student Report Card</h1><p>Dear Principal,</p><p>Please find attached the report card for <b>{{ $node[\"Split Reports\"].json[\"studentName\"] }}</b> (Roll No: {{ $node[\"Split Reports\"].json[\"rollNo\"] }}).</p><p>Best Regards,<br>Viswam Team</p>",
                "emailTo": "={{ $node[\"Split Reports\"].json[\"principalEmail\"] }}",
                "subject": "=Report Card: {{ $node[\"Split Reports\"].json[\"studentName\"] }}",
                "options": {
                    "appendAttachements": "={{ $node[\"Read PDF\"].binary.data }}"
                }
            },
            "name": "Gmail",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                1000,
                300
            ],
            "id": "gmail-1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://viswam-reports-automation.netlify.app/api/reports/automation/mark-sent",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "ids",
                            "value": "={{ $node[\"Aggregate IDs\"].json[\"id\"] }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Mark as Sent",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1450,
                300
            ],
            "id": "mark-sent-1"
        },
        {
            "parameters": {
                "operation": "aggregateItems",
                "fieldsToAggregate": {
                    "primaryFields": [
                        {
                            "field": "id"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Aggregate IDs",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 1,
            "position": [
                1250,
                300
            ],
            "id": "aggregate-1"
        },
        {
            "parameters": {
                "fileSelector": "=/tmp/report_{{ $node[\"Split Reports\"].json[\"id\"] }}.pdf"
            },
            "name": "Read PDF",
            "type": "n8n-nodes-base.readBinaryFile",
            "typeVersion": 1,
            "position": [
                800,
                300
            ],
            "id": "read-pdf-1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.whatsapp.com/send",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "phone",
                            "value": "={{ $node[\"Split Reports\"].json[\"whatsappNo\"] }}"
                        },
                        {
                            "name": "message",
                            "value": "=Hi, here is the report card for {{ $node[\"Split Reports\"].json[\"studentName\"] }}: https://viswam-reports-automation.netlify.app/api/reports/{{ $node[\"Split Reports\"].json[\"id\"] }}/render"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Send WhatsApp",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1000,
                450
            ],
            "id": "whatsapp-1"
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "value": 1
                        }
                    ]
                }
            },
            "name": "Sync Every Hour",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                200,
                100
            ],
            "id": "sync-trigger-1"
        },
        {
            "parameters": {
                "resource": "spreadsheet",
                "operation": "get",
                "spreadsheetId": "ENTER_YOUR_SHEET_ID_HERE",
                "range": "A:E",
                "options": {}
            },
            "name": "Read Google Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 3,
            "position": [
                400,
                100
            ],
            "id": "sheets-1"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://viswam-reports-automation.netlify.app/api/schools/sync",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "schools",
                            "value": "={{ $json.map(row => ({ schoolId: row['School Id'], schoolName: row['School Name'], principalEmail: row['Email'], whatsappNo: row['WhatsApp'] })) }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Sync to Backend",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                600,
                100
            ],
            "id": "sync-http-1"
        }
    ],
    "connections": {
        "Every 5 Minutes": {
            "main": [
                [
                    {
                        "node": "Fetch Queue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Queue": {
            "main": [
                [
                    {
                        "node": "Split Reports",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Reports": {
            "main": [
                [
                    {
                        "node": "Generate PDF (Chrome)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate PDF (Chrome)": {
            "main": [
                [
                    {
                        "node": "Read PDF",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read PDF": {
            "main": [
                [
                    {
                        "node": "Gmail",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Send WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gmail": {
            "main": [
                [
                    {
                        "node": "Aggregate IDs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send WhatsApp": {
            "main": [
                [
                    {
                        "node": "Aggregate IDs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Aggregate IDs": {
            "main": [
                [
                    {
                        "node": "Mark as Sent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sync Every Hour": {
            "main": [
                [
                    {
                        "node": "Read Google Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Google Sheet": {
            "main": [
                [
                    {
                        "node": "Sync to Backend",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    }
}