n8n_workflow_v3.json
{
  "name": "Viswam Report Card Automation (V4 - Production Ready)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approve-school-report",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 300],
      "id": "webhook-id"
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1vRb2tmmwhgc0qPTeP-ivAIMtNak3bet9bFL_6xqgvjnHH5XnWr5l-6JiF9MsFqiiISUQrxh4wueTXaS"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Sheet1"
        },
        "lookupColumn": "NSF User ID",
        "lookupValue": "={{ $json.schoolId }}",
        "options": {}
      },
      "name": "Fetch Contacts from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [250, 300],
      "id": "fetch-contacts-id",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "/**\n * Consolidate data from Webhook + Google Sheets.\n * Webhook data is always the source of truth for IDs.\n * Sheet data fills in contact details.\n */\nconst webhook = $('Webhook').first().json;\nconst sheetItems = $('Fetch Contacts from Sheet').all();\nconst sheet = (sheetItems.length > 0 && sheetItems[0].json) ? sheetItems[0].json : {};\n\nconst schoolId = webhook.schoolId || '';\nconst assessmentName = webhook.assessmentName || 'Sodhana 1';\n\n// Build PDF URL with proper encoding for assessmentName\nconst encodedAssessment = encodeURIComponent(assessmentName);\nconst pdfUrl = `https://viswam-report-card.vercel.app/api/reports/school/${schoolId}/pdf?assessmentName=${encodedAssessment}`;\n\nreturn [{\n  json: {\n    schoolId,\n    assessmentName,\n    encodedAssessment,\n    pdfUrl,\n    schoolName: webhook.schoolName || sheet['School Name'] || sheet['NSF School name'] || 'Unknown School',\n    principalEmail: sheet['School Email Id'] || sheet['Principal Email'] || webhook.principalEmail || '',\n    whatsappNo: webhook.whatsappNo || sheet['POC Contact No.'] || sheet['Whatsapp No'] || '',\n    studentCount: webhook.studentCount || 0\n  }\n}];"
      },
      "name": "Consolidate Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300],
      "id": "consolidate-data-id"
    },
    {
      "parameters": {
        "url": "={{ $json.pdfUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pdfData"
            }
          },
          "timeout": 90000,
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          }
        }
      },
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "id": "download-pdf-id"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Consolidate Data').first().json.principalEmail }}",
        "subject": "=PSA Assessment Report – {{ $('Consolidate Data').first().json.schoolName }}",
        "emailType": "html",
        "message": "=Dear Sir/Madam,<br><br>\nThank you for your support in conducting the PSA assessment for Grade 7 students. We are pleased to share your school's PSA assessment report, which highlights students' current learning levels and readiness for competency-based assessments.<br><br>\nThis initiative is sponsored by <strong>Federation for Democratic Reforms (FDR)</strong>, with implementation support from <strong>Viswam Edutech</strong>, and assessment partnership with <strong>North South Foundation</strong>.<br><br>\nWe hope the report will support your academic review and planning.<br><br>\nWith Regards,<br>\n<strong>Federation for Democratic Reforms</strong>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "pdfData"
              }
            ]
          }
        }
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1000, 300],
      "id": "send-email-id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://crmapi.automatebusiness.com/campaign/t1/api/v2/recipient/send-message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"apiKey\": \"YOUR_AISENSY_API_KEY\",\n  \"campaignName\": \"PDF1\",\n  \"destination\": \"{{ $('Consolidate Data').first().json.whatsappNo }}\",\n  \"userName\": \"{{ $('Consolidate Data').first().json.schoolName }}\",\n  \"template\": {\n    \"name\": \"PDF1\",\n    \"languageCode\": \"en\",\n    \"parameters\": [\n      \"{{ $('Consolidate Data').first().json.schoolName }}\",\n      \"{{ $('Consolidate Data').first().json.pdfUrl }}\"\n    ]\n  }\n}",
        "options": {}
      },
      "name": "Send WhatsApp PDF1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1150, 450],
      "id": "send-whatsapp-id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://viswam-report-card.vercel.app/api/reports/school/{{ $('Consolidate Data').first().json.schoolId }}/mark-notified?assessmentName={{ $('Consolidate Data').first().json.encodedAssessment }}",
        "options": {}
      },
      "name": "Mark Notified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300],
      "id": "mark-notified-id",
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Contacts from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Contacts from Sheet": {
      "main": [
        [
          {
            "node": "Consolidate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Data": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Send WhatsApp PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp PDF1": {
      "main": [
        [
          {
            "node": "Mark Notified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
