workflow-2-report-generation.json
{
  "id": "wf_auto_gen_1234_gsheets",
  "name": "Approval - Emails & WhatsApp (Full Google Workspace Edition)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approval-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"status\"]}}",
              "operation": "equal",
              "value2": "Approved"
            }
          ]
        }
      },
      "id": "IF",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "sheetId": "1vRb2tmmwhgc0qPTeP-ivAIMtNak3bet9bFL_6xqgvjnHH5XnWr5l-6JiF9MsFqiiISUQrxh4wueTXaS",
        "range": "A:Z",
        "options": {},
        "query": "={{'School ID'}}:{{$('Webhook Trigger').first().json[\"body\"][\"schoolId\"]}}"
      },
      "id": "Read Google Sheet",
      "name": "Fetch Contacts from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        500,
        150
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "your-email@gmail.com",
        "toEmail": "={{ $('Fetch Contacts from Sheet').first().json[\"Principal Email\"] || $('Webhook Trigger').first().json[\"body\"][\"email\"] }}",
        "subject": "Approval Status - {{ $('Webhook Trigger').first().json[\"body\"][\"school_name\"] }}",
        "text": "Hello {{ $('Webhook Trigger').first().json[\"body\"][\"name\"] }},\n\nYour school {{ $('Webhook Trigger').first().json[\"body\"][\"school_name\"] }} has been APPROVED.\n\nPlease find the school report card attached to this email.\n\nRemarks: {{ $('Webhook Trigger').first().json[\"body\"][\"remarks\"] }}\n\nRegards,\nNorthSouth Foundation Team",
        "appendAttachements": true,
        "attachmentsUi": {
          "attachmentValues": [
            {
              "propertyName": "data"
            }
          ]
        }
      },
      "id": "GmailApproved",
      "name": "Send Approval Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        750,
        150
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "fileContent": "data",
        "fileName": "={{$node[\"Webhook Trigger\"].json[\"body\"][\"school_name\"]}}_Report.pdf",
        "options": {}
      },
      "id": "Upload To Drive",
      "name": "Upload PDF to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        750,
        150
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Drive Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "create",
        "from": "whatsapp:+14155238886",
        "to": "={{ 'whatsapp:+' + ($('Fetch Contacts from Sheet').first().json[\"WhatsApp No\"] || $('Webhook Trigger').first().json[\"body\"][\"phone\"]) }}",
        "message": "Hello {{ $('Webhook Trigger').first().json[\"body\"][\"name\"] }}, Your school {{ $('Webhook Trigger').first().json[\"body\"][\"school_name\"] }} has been APPROVED. ✅\n\nYou can also download the report here: {{ $node[\"Upload PDF to Google Drive\"].json[\"webContentLink\"] }}",
        "mediaUrl": [
          "={{ \"https://drive.google.com/uc?id=\" + $node[\"Upload PDF to Google Drive\"].json[\"id\"] + \"&export=download\" }}"
        ]
      },
      "id": "WhatsAppApproved",
      "name": "Send WhatsApp Approved",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1500,
        0
      ],
      "credentials": {
        "twilioApi": {
          "id": "YOUR_TWILIO_CREDENTIAL_ID",
          "name": "Twilio Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "1vQEQzYtZluQPVA3kfs-79V7fYDi7i3i5o7SoSmPGoKc3vDWdS23PbL8sfIbSO0NPrAjlOlM2vVeewmK",
        "range": "Sheet1!A:D",
        "options": {},
        "columnsUi": {
          "columnValues": [
            {
              "column": "Date",
              "value": "={{$now}}"
            },
            {
              "column": "School ID",
              "value": "={{$('Webhook Trigger').first().json[\"body\"][\"schoolId\"]}}"
            },
            {
              "column": "School Name",
              "value": "={{$('Webhook Trigger').first().json[\"body\"][\"school_name\"]}}"
            },
            {
              "column": "Delivery Status",
              "value": "Sent Successfully"
            }
          ]
        }
      },
      "id": "Log Success",
      "name": "Log Success to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1750,
        150
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "your-email@gmail.com",
        "toEmail": "={{ $('Webhook Trigger').first().json[\"body\"][\"email\"] }}",
        "subject": "Rejection Status - {{ $('Webhook Trigger').first().json[\"body\"][\"school_name\"] }}",
        "text": "Hello {{ $('Webhook Trigger').first().json[\"body\"][\"name\"] }},\n\nYour school {{ $('Webhook Trigger').first().json[\"body\"][\"school_name\"] }} has been REJECTED.\n\nRemarks: {{ $('Webhook Trigger').first().json[\"body\"][\"remarks\"] }}\n\nPlease review and resubmit.",
        "appendAttachements": false
      },
      "id": "GmailRejected",
      "name": "Send Rejection Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        500,
        450
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "create",
        "from": "whatsapp:+14155238886",
        "to": "={{ 'whatsapp:+' + $('Webhook Trigger').first().json[\"body\"][\"phone\"] }}",
        "message": "Hello {{ $('Webhook Trigger').first().json[\"body\"][\"name\"] }}, Your school {{ $('Webhook Trigger').first().json[\"body\"][\"school_name\"] }} has been REJECTED ❌. Remarks: {{ $('Webhook Trigger').first().json[\"body\"][\"remarks\"] }}"
      },
      "id": "WhatsAppRejected",
      "name": "Send WhatsApp Rejected",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        750,
        450
      ],
      "credentials": {
        "twilioApi": {
          "id": "YOUR_TWILIO_CREDENTIAL_ID",
          "name": "Twilio Account"
        }
      }
    },
    {
      "parameters": {
        "responseData": "={{ { \"message\": \"Notification workflow completed\", \"status\": $('Webhook Trigger').first().json[\"body\"][\"status\"] } }}"
      },
      "id": "Response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2000,
        250
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Fetch Contacts from Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Contacts from Sheet": {
      "main": [
        [
          {
            "node": "Upload PDF to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PDF to Google Drive": {
      "main": [
        [
          {
            "node": "Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Email": {
      "main": [
        [
          {
            "node": "Send WhatsApp Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Approved": {
      "main": [
        [
          {
            "node": "Log Success to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success to Sheet": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Rejection Email": {
      "main": [
        [
          {
            "node": "Send WhatsApp Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Rejected": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}